body {
  margin: 0;
  background-color: #212020;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  overflow-x: hidden;
  background: url('dans.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 1px 1px 1px #333;
}
.logo-top img{
    width: 140px;
}
.arrow {
  position: relative;
  top: 40px;
  left: 10px;
  width: 28px;
  height: 28px;
  background: transparent;
  border-top: 4px solid white;
  border-right: 4px solid white;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
  transform: translate3d(0,-50%,0) rotate(-135deg);
  display: block;
}

.arrow:before {
  content: '';
  transform: translate(-40%,-60%) rotate(45deg);
  width: 200%;
  height: 200%;
}

.logo-top {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 40px;
  flex-direction: row-reverse;
  position: absolute;
  top: 0;
  right: 60px;
  left: 60px;
}

.main {
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.main > * {
  margin-bottom: 100px;
  margin-top: 0;
}

.main > h1 {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 60px;
  margin-top: 30px;
  text-align: center;
  padding: 0 40px 0 40px;
  width: calc(100vw - 400px);
}

h2 {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.prog {
  font-family: 'Roboto Slab', serif;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%
}

.prog-item {
  margin-bottom: 65px;
}

.prog a {
  font-weight: 400;
}

.prog h3 {
  font-weight: 400;
  margin-bottom: 0;
  font-size: 25px;
}

.prog p {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  font-size: 20px;
  color: #bababa;
}

.flex-two {
  display: flex;
  width: 100%;
}

.flex-two > div {
  width: 50%;
}

.white-bg {
  background-color: white;
  color: black;
}

.foredrag {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-wrapper {
  background-color: #1A1A1A;
  width: 100%;
}

.footer {
  display: flex;
  max-width: 1100px;
  margin: 40px auto;
  margin-bottom: 60px;
}

.footer > div {
  width: 33%;
}

a {
  font-weight: 700;
  color: white;
}

.white-bg a {
  color: black;
}

footer > h3 {
  font-weight: 400;
  color: #b2b2b2;
}

h3 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 20px;
}

.utlan-vilkar {
  line-height: 30px;
}

.faq p {
  margin-bottom: 0;
  margin-top: 0;
}

.footer a {
  text-transform: none;
  font-weight: 300;
}

.desc {
  margin-top: 0;
  color: #E4E4E4;
}

.name {
  margin-top: 35px;
  margin-bottom: 0;
}

#next-events-public > div >  ul:first-child > .name {
  margin-top: inherit;
}

.rent {
  width: calc(100% + 200px);
  margin-left: -100px;
  margin-right: -100px;
}

.rent-text {
  padding: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer ul {
  line-height: 30px;
  justify-content: space-between;
}

.footer {
  color: #9a9a9a;
}

.footer ul a {
  color: #9a9a9a;
}

.main > .teaser {
  font-size: 24px;
  margin-top: -50px;
  margin-bottom: 40px;
  text-align: center;
  padding: 0 40px 0 40px;
  line-height: 38px;
}

.main > .date {
  font-size: 33px;
  margin-top: -50px;
  margin-bottom: 100px;
}

.date::before,
.date::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid white;
    width: 3rem;
    margin: 0 3rem;
    transform: translateY(-0.55rem);
}

.footer > .seksseks {
  width: 66%;
}

.int-event-title {
  margin-bottom: 10px;
}

.int-event {
  margin-top: 0;
  margin-bottom: 0;
}

#next-events-intern > div > ul > li {
  display: inline-block;
  margin: 0;
}

#next-events-intern > div > ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#next-events-intern > div > ul > .desc::after {
  content: ' ';
  white-space: pre;

}
.board-name-and-mobile div div {
  display: none;
}

.board {
  line-height: 21px;
}


.flex-tree {
  display: flex;
  width: 100%;

}

.flex-tree > *{
  width: 100%;

}

@media only screen and (max-width: 860px) {
  .logo-top img{
      width: 120px;
  }

  .logo-top {
    justify-content: center;
  }

  .main {
    margin-top: 160px;
  }

  h2 {
    font-size: 30px;
  }

  .prog p {
    font-size: 18px;
  }

  .main > h1{
      text-align: center;
      font-size: 44px;
      width: 96%;
      padding: 0 2% 0 2%;
  }
  .main > .teaser {
      font-size: 22px;
  }
  .main > .date {
    font-size: 22px;
  }
  .date::before,
  .date::after {
      display: inline-block;
      content: "";
      border-top: none;
      width: 0;
      margin: 0;
      transform: none;
  }
  .flex-tree {
    flex-direction: column;
  }
  .prog-item {
    padding-right: 30px;
    padding-left: 30px;
  }
}
